body {
    background: #03b5aa;
    color: #fff;
}

.col-sm-3.rounded {
    height: 15rem;
    background: #037971;
    cursor: pointer;
}

.animate {
    height: 15rem;
    background: #037971;
    animation: bounceInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.map {
    width: 100%;
    height: 400px;
}

.modal {
    color: #000;
}